:root {
  /* Fonts */
  --main-font: 'Roboto', sans-serif;
  --main-font-weight: 400;
  --main-font-size: 15.57px;
  --main-font-lh: calc(28 / 15.57);
  /* Text colors */
  --main-txt-cl: #ffffff;
  --primery-txt-cl: #262F32;

}