<header>
  <div class="container header__container">
    <section class="header__bg-img">
      <h2 class="visually-hidden">background</h2>
    </section>
    <section class="header">
      <h2 class="visually-hidden">nav-menu</h2>
      <div class="header__wrap">
        <div class="header__burger">
          <div class="header__burger-line"></div>
          <div class="header__burger-line"></div>
          <div class="header__burger-line"></div>
        </div>

        <div class="backdrop-header hidden">
          <div class=" modal-header hidden">
            <img class="modal-close"
              src="https://cdn2.iconfinder.com/data/icons/apple-watch-outline-24/24/Cancel_close_delete_dismiss_modal_remove-512.png"
              alt="">
            <div class="modal-wrap">
              <ul class="modal__list">
                <li class="modal__item"><a href="#benefits" class="modal__link">Benefits</a></li>
                <li class="modal__item"><a href="#starting" class="modal__link">Best Strarting</a></li>
                <li class="modal__item"><a href="#verified" class="modal__link">Verified Dummy</a></li>
                <li class="modal__item"><a href="#modal-form" class="modal__link">Connnect With Us</a></li>
              </ul>
            </div>
          </div>
        </div>

        <h2 class="header__title">Ali Sayed’s <br> <b class="header__title-accent">Web Designing Project</b></h2>
        <p class="header__text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh
          euismod
          tincidunt ut laoreet dolore.</p>
        <p class="header__text">quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo
          consequat. Duis autem vel eum iriure dol.</p>
      </div>
    </section>
  </div>
</header>