<main>
  <container class="container main__container">
    <section class="benefits" id="benefits">
      <ul class="benefits__list">
        <li class="benefits__item">
          <h2 class="benefits__title">Drawin <b>Scketch</b> </h2>
          <p class="benefits__text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh
            euismod quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex consectetuer
            adipiscing
            elit, sed diam nonummy nibh euismod tincidu.</p>
        </li>
        <li class="benefits__item">
          <h2 class="benefits__title">Making <b>Design</b> </h2>
          <p class="benefits__text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh
            euismod quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex consectetuer
            adipiscing
            elit, sed diam nonummy nibh euismod tincidu.</p>
        </li>
        <li class="benefits__item">
          <h2 class="benefits__title">Developing <b>Product</b> </h2>
          <p class="benefits__text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh
            euismod quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex consectetuer
            adipiscing
            elit, sed diam nonummy nibh euismod tincidu.</p>
        </li>
      </ul>
    </section>
    <div class="section-wrap">
      <section class="starting" id="starting">
        <h2 class="starting__title">Best <b>Strarting</b></h2>
        <p class="starting__text">Lorem ipsum dolor sit amet, quis nostrud exerci tation ullamcorper suscipit
          lobortis
          nisl ut aliquip ex consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet
          dolore.quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea.</p>
        <button class="starting__btn" type="button">View Our History</button>
        <div class="backdrop hidden">
          <div class="modal hidden">
            <img class="modal-close"
              src="https://cdn2.iconfinder.com/data/icons/apple-watch-outline-24/24/Cancel_close_delete_dismiss_modal_remove-512.png"
              alt="">
            <div class="modal-wrap">
              <h2 class="starting__title">Our <b>History</b></h2>
              <iframe width="700" height="500" src="https://www.youtube.com/embed/aK2Yb4qSJjI"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen></iframe>
            </div>
          </div>
        </div>
      </section>
      <section class="verified" id="verified">
        <h2 class="starting__title">Verified <b>Dummy</b></h2>
        <p class="starting__text">Lorem ipsum dolor sit amet, quis nostrud exerci tation ullamcorper suscipit
          lobortis
          nisl ut aliquip ex consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet
          dolore.quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea.</p>
        <a href="/src/index.html" class="starting__btn verified__btn">Go To The Page</a>
      </section>
    </div>
  </container>
</main>